
/* hr-line-css */
.hr-lines:before{
  content:" ";
  display: block;
  height: 1px;
  width: 130px;
  position: absolute;
  top: 50%;
  left: 0;
  background: grey;
}

.hr-lines{
  position: relative;
  margin-top: 30px;
  text-align: center;
  color: grey;
}

.hr-lines:after{
  content:" ";
  height: 1px;
  width: 130px;
  background: grey;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}



